<style>
  .navbar-custom {
    background-color: #554488;
  }

  /* change the brand and text color */
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text {
    color: #ffffff;
    font-weight: bold;
  }

  /* change the link color */
  .navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
  }

  /* change the color of active or hovered links */
  .navbar-custom .nav-item.active .nav-link,
  .navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
  }
</style>

<nav class="navbar navbar-custom navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="{{ 'assets/gitlab.svg' | relative_url }}" width="30" height="30" class="d-inline-block align-top"
        alt="">
      {{ site.title }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.data.vars.group_map_path | relative_url  }}">Group Map</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for category in site.data.vars.categories %}
            <a class="dropdown-item" href="{{ category.file_path | relative_url }}">{{ category.name }}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.data.vars.handbook }}">Handbook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.data.vars.risk_project }}">Risk Project</a>
        </li>
      </ul>
    </div>
  </div>
</nav>